page-geocomplete {
    .search-icon[_ngcontent-c0] {
        
        display: none !important;
    }

    .demo #search_places {
        height: 100px;
      }
      .custom-autocomplete__dropdown[_ngcontent-c0]{
        border:none !important  
      }
      .custom-autocomplete__input[_ngcontent-c0] input[_ngcontent-c0]{
        border-radius: 20px !important;
        margin: 0px;
    padding: 10px;
    height: 35px !important;
    border: 1px solid darkgrey !important;
    display: block;
    width: 88% !important;
    margin-left: 20px !important;
    margin-top: 10px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px !important;

      }
    
}
