page-home {


    .tofromback{
        background-color: blueviolet
    }
    .home{
        position:relative;

    }
    .map-wrapper{
        width:100%;
        height:100;
    }
    #map{
        height:100%;
        width:100%
    }
    // .item.item-trns {
    //     border-color: rgba(0, 0, 0, 0);
    //     background-color: rgba(0, 0, 0, 0);
    //     color: white; 
    // }
    
    ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: #00aae7;
        fill: #00aae7;
      }
}
